.archive {
	margin-bottom: 100px;
	&__list {
		margin: 0 !important;
		padding: 0 !important;
	}
}

.archive-group {
	display: block;
	margin-bottom: 25px;

	@media (min-width: map-get($break, tablet)) {
		float: left;
		margin-left: 25px;
		margin-right: 25px;
	}

	ul, ol {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

