.btn {
	display: inline-block;
	padding: 13px 15px;
	border: 0;
	vertical-align: top;
	font-family: $freight-body;
	line-height: 1;
	font-size: em(12px);
	background: map-get($colors, blue);
	color: map-get($colors, white);
	cursor: pointer;
}