img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: em(25px) auto em(35px);
}


img.alignright { 
	display: block;
	width: 100%;
	@media (min-width: map-get($break, tablet)) {
		float: right; 
		margin: 0 0 1em 1em; 	
	}
}

img.alignleft { 
	@media (min-width: map-get($break, tablet)) { 
		float: left; 
		margin: 0 1em 1em 0; 
	}
}

img.aligncenter {
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
}

.alignright { 

	@media (min-width: map-get($break, tablet)) { 
		float: right; 
	}
}
.alignleft { 
	@media (min-width: map-get($break, tablet)) {
		float: left; 	
	}
	
}
.aligncenter { 
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
}




