.page-controls {
	display: block;
	width: 100%;
	float: left;
	margin: 0 auto 50px;
	list-style: none;
	text-align: center;


}

.page-nav {
	position: relative;
	display: inline-block;
	margin:  0;
}


.nav-prev {float: left;}
.nav-next {float: right;}
